$base-background: linear-gradient(0deg, #ffffff 0%, #f0f0f0 99%);

.pageContainer {
    width: 100vw;
    // min-height: 100vh;
    .formContainer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #ffffff;
        background-image: $base-background;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
